.item {
  position: relative;
  background-color: #eee;
  width: 600px;
  padding: 8px;
  margin-bottom: 8px;
}

.id {
  font-style: italic;
  padding-right: 8px;
}

.title {
  padding-right: 8px;
  font-size: 16px;
  font-weight: 700;
}

.arrow {
  position: absolute;
  right: 0px;
  padding-right: 10px;
}
